<h3><%= @user.name %>: Add a product</h3>

<%= form_for [@product] do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br>
	<%= f.label :pic %>
	<%= f.text_field :pic %>	
	<br>
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<%= f.hidden_field :user_id, value: @user.id%>

	<%= f.submit "New" %>
<% end %>