
<p><img src=<%=@product.pic%> class="detailed-image"></p>
<div class="item-title"><h3><%= @product.title %></h3></div>
<p>Item description
<br>
<div class="item-content">
<h5><%= @product.description %></p>
<p>
Finishes at: <%= @product.deadline %></p>
<p>Owner: <%= link_to(@user.name, user_path(@user.id)) %></p></h5>
<p><h6><% if @highestbid.class == Bidding %>
			total bids: <%= @bids.count %> - Highest Bid: <%= @highestbid.amount %>€</p>
		<% else %>
			No current Bids
		<% end %>
 <% @bids.each do |bid| %>
 	<%= bid.user_id %> - <%= bid.amount %>€ - <%= bid.created_at %><br>
 <% end %></h6>

<h5>
<%= form_for [@bidding] do |f| %>
	<p>Put a Bid:</p>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	<br> 
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :product_id, value: @product.id%>

	<%= f.submit "Bid!" %>
<% end %></h5>

</div>	