
<div class="item-title"><h3><%= @product.title %></h3></div>
<p>Item description
<br>
<div class="item-content">
<h5><%= @product.description %></p>
<p>
Finishes at: <%= @product.deadline %></p>
<p>Owner: <%= link_to(@user.name, user_path(@user.id)) %></p>



<%= form_for [@bidding] do |f| %>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	<br> 
	<%= f.label :user_id %>
	<%= f.text_field :user_id %>

	<%= f.hidden_field :product_id, value: @product.id%>

	<%= f.submit "Bid!" %>
<% end %></h5>
</div>	